.text>h1{
    text-align: center;
    font-size: 40px;
}
.text>p{
    /* border: 2px solid red; */
    font-size: 24px;
    width: 50%;
   margin: auto;

}
#Products{
    /* border: 2px solid green; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;
    margin-top: 40px;
}


#Products>div>img{
    /* border: 4px solid red; */
    width: 100%;
    height: 400px;
    
}
#Products>div>h3,p,button{
    /* border: 2px solid teal; */
    margin: auto;
    text-align: center;
    padding: 20px 0px;
   
    
    
}
#Products>div>h3{
   font-size: 20px;
   font-family: sans-serif;
}
#Products>div>button{
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(39, 39, 38);
}
#Products>div>button:hover{
  
    background-color: black;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    #Products{

        /* border: 2px solid green; */
        width: 70%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 80px;
        margin-top: 40px;
    }
   
}

@media only screen and (max-width: 377px) {
    #Products{
      
        width: 70%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 80px;
        margin-top: 40px;
    }
    
}